logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings


# Ignore Play! working directory #
# from https://github.com/github/gitignore/blob/master/PlayFramework.gitignore
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache

# prod conf
*.prod.conf

#browser depedencies
/public/node_modules
/public/components
