<h2>Create Channel</h2>

<h3>From Genre</h3>

<form>
    <div class="form-group">
        <label for="channelName">Channel Name</label>
        <input type="text" class="form-control" ng-model="channel.name" id="channelName" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <select id="genre" class="form-control" ng-model="channel.genre" ng-options="genre as genre.name for genre in genres">
        </select>
    </div>

    <button ng-click="createChannel()" class="btn btn-default">Create</button>

</form>