
<div class="row name-row">
    <div class="col-sm-1">
        <h4 class="name text-right">{{episode.id}}</h4>
    </div>
    <div class="col-sm-8">
        <h4 class="name text-left">{{episode.name}}</h4>
    </div>
    <div class="col-sm-3 text-center" ng-if="episode.explicit">
        <p class="explicit text-center">EXPLICIT</p>
    </div>
</div>

<dl class="dl-horizontal">
    <dt>Published Date</dt>
    <dd>{{episode.publishedDate | date : 'mediumDate'}}</dd>
    <dt>Added Date</dt>
    <dd>{{episode.creationDate | date : 'mediumDate'}}</dd>
    <dt>Author</dt>
    <dd>{{episode.author}}</dd>
    <dt>Description</dt>
    <dd ng-bind-html="episode.description"></dd>
    <dt>Show</dt>
    <dd><a href="/admin/shows/{{episode.show.id}}">{{episode.show.name}}</a></dd>
    <dt>Network</dt>
    <dd><a href="/admin/networks/{{episode.show.network.id}}">{{episode.show.network.name}}</a></dd>
    <dt>Genre</dt>
    <dd>
        <ul class="list-inline">
            <li ng-repeat="genre in episode.show.genres"><a href="/admin/genres/{{genre.id}}">{{genre.name}}{{$last ? '' : ', '}}</a></li>
        </ul>
    </dd>
    <dt>Tags</dt>
    <dd>
        <ul class="list-inline">
            <li ng-repeat="tag in episode.tags"><p class="tag">{{tag.name}}</p></li>
        </ul>
    </dd>
    <dt>Link</dt>
    <dd><a target="_blank" href="{{episode.link}}">{{episode.link}}</a></dd>
    <dt>JSON</dt>
    <dd><a target="_blank" href="{{jsonUrl}}">{{jsonUrl}}</a></dd>
    <dt>Audio</dt>
    <dd><a target="_blank" href="{{episode.audioUrl}}">{{episode.audioUrl}}</a></dd>
    <dt>Duration</dt>
    <dd>{{episode.duration}} s</dd>
</dl>

<audio src="{{playerUrl}}" type="audio/mp3" controls/>

